<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="social-media-list">
          <li>
	    Hosted on <a href="https://pages.github.com/">
	      <span class="username">GitHub Pages</span>
	    </a>
          </li>
          <li>
	    Site by <a href="https://srw.id.au/">
	      <span class="username">srw.id.au</span>
	    </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
